/* Import Google Font - Poppins */
@import ("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #43affc;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.wrapper {
    background: #fff;
    width: 400px;
    border-radius: 7px;
}


.wrapper header {
    color: #43affc;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    padding: 16px 15px;
    border-bottom: 1px solid #bfbfbf;
}


header i {
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}

